body{
    position: relative;
    height: 100vh;
}

header{
    height: 300px;
    background-image: url("/static/img/title_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-footer{
    background-color: rgba(48, 45, 45, 0.603);
}

#search{
    width: 50%;
}

.search-btn{
    background: none;
    border: none;
}

.film-img{
    height: 200px;
    object-fit: contain;
}

.cta-btn {
    margin: 15px;
    border-radius: 30px;
}