/* Base.html Styles */
body{
    position: relative;
    height: 100vh;
}

header{
    height: 30%;
    background-image: url("/static/img/title_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-footer{
    background-color: rgba(48, 45, 45, 0.603);
}

/* /Base.html Styles */

/* Search bar */
#search{
    width: 50%;
}

.search-btn{
    background: none;
    border: none;
}

.reset-btn{
    margin-left: 50px;
    color: red;
}
/* /Search Bar */

/* Buttons */
.cta-btn {
    margin: 15px;
    border-radius: 30px;
}
/* /Buttons */

/* Film Card */
.film-img{
    height: 200px;
    object-fit: contain;
}

/* Film-info */
.info-tag{
    font-weight: 700;
    font-size: 1.2rem;
}

.card .card-content .film-info{
    margin: 25px;
}
/* /Film-info */
/* /Film Cards */
