body{
    position: relative;
    height: 100vh;
}

header{
    height: 300px;
    background-image: url("/static/img/title_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    padding-bottom: 2.5rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.page-footer{
    background-color: rgba(48, 45, 45, 0.603);
}

#search{
    width: 50%;
}

.search-btn{
    background: none;
    border: none;
}

.cta-btn {
    margin: 15px;
    border-radius: 30px;
}