<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Film Review</title>
</head>
<body>
    <header>
        
        <nav class="transparent">
            <div class="nav-wrapper">
                <a href="{{ url_for('index') }}" class="brand-logo left">Film Review</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="#">Films</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="#">Add Film</a></li>
                    <li><a href="#">Review Film</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Home</a></li>
            <li><a href="#">Films</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Add Film</a></li>
            <li><a href="#">Review Film</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
        
        <h2 class="page-title center-align">
            {% block title %}
            {% endblock %}
        </h2>
    </header>

    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <h3 class="center-align">{{ message }}</h3>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-copyright page-footer">
            <div class="container">
                <span>Created by James Stephens</span>
                <a class="grey-text text-lighten-4 right" href="#!">Github Link</a>
            </div>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>