{% extends "base.html" %}
<!-- Page Title -->
{% block title %}
    <span>Films</span>
{% endblock %}
{% block content %}
    <div class="row">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <input type="text" name="search" id="search" minlength="2" placeholder="Search Films" class="validate" required>
                    <button type="submit" class="prefix search-btn"><i class="fas fa-search"></i></button>
                    <a href="{{ url_for('films', limit=9, offset=0) }}" class="reset-btn">Reset</a>
                </div>
            </div>
        </form>
        <div class="row">
            <a href="{{ url_for('random') }}" class="btn-large col s12 m6 offset-m3 random_film-btn submit-btn hoverable">Let us pick your next watch!</a>
        </div>
        <div class="films row">
            {% for film in films %}
                <div class="col s12 m6 l4">
                    <div class="card medium hoverable">
                        <a href="/films/{{ film._id }}">
                            <div class="card-image">
                                <img src="{{ film.film_img }}" alt="Film Image" class="film-img-sm">
                            </div>
                            <div class="card-content center-align">
                                <h5 class="film-title">{{ film.film_title.title() }}</h5>
                            </div>
                        </a>
                        <a href="/review/{{ film._id }}" class="card-action center-align hoverable">
                            Add Review
                        </a>
                    </div>
                </div>
                {% else %}
                    <div class="col s12 center-align">
                        <h2 class="center-align">No film found, Please click Add Film below to add it</h2>
                        <a href="{{ url_for('add_film') }}" class="btn-large submit-btn hoverable">Add Film</a>
                    </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <ul class="pagination">
                <li><a class="pre-next"><i class="fas fa-caret-left"></i></a></li>
                <li class="active"><a href="{{ url_for('films', limit=9, offset=0)}}">1</a></li>
                <li class="waves-effect"><a href="{{ url_for('films', limit=9, offset=9)}}">2</a></li>
                <li class="waves-effect"><a href="{{ url_for('films', limit=9, offset=18)}}">3</a></li>
                <li class="waves-effect"><a href="{{ url_for('films', limit=9, offset=27)}}">4</a></li>
                <li class="waves-effect"><a href="{{ url_for('films', limit=9, offset=36)}}">5</a></li>
                <li><a class="pre-next"><i class="fas fa-caret-right"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}