{% extends "base.html" %}
<!-- Page title -->
{% block title %}
    <span>Film Review</span>
{% endblock %}
{% block content %}
    <!-- Search bar -->
    <div class="row">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <input type="text" name="search" id="search" minlength="2" placeholder="Search Films" class="validate" required>
                    <button type="submit" class="prefix search-btn"><i class="fas fa-search"></i></button>
                    <a href="{{ url_for('films', limit=9, offset=0) }}" class="reset-btn">Reset</a>
                </div>
            </div>
        </form>
        <!-- Top cta buttons -->
        <div class="valign-wrapper col s12">
            <div class="center-align col s12">
                <a href="{{ url_for('register') }}" class="btn-large submit-btn hoverable cta-btn">Register</a>
                <a href="{{ url_for('login') }}" class="btn-large submit-btn hoverable cta-btn">Log in</a>
            </div>
        </div>
        
        <!-- Top Films -->
            <div class="top-films row">
                {% for film in films %}
                    <div class="col s12 m6 l4">
                        <div class="card medium hoverable">
                            <a href="/films/{{ film._id }}">
                                <div class="card-image">
                                    <img src="{{ film.film_img }}"alt="Film Image" class="film-img-sm">
                                </div>
                                <div class="card-content center-align">
                                    <h5 class="film-title">{{ film.film_title.title() }}</h5>
                                </div>
                            </a>
                            <a href="/review/{{ film._id }}" class="card-action center-align hoverable">
                                    Add Review
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <!-- Cta Buttons -->
        <div class="valign-wrapper col s12">
            <div class="center-align col s12">
                <a href="{{ url_for('films', limit=9, offset=0) }}" class="btn-large submit-btn hoverable cta-btn">All Films</a>
                <a href="{{ url_for('add_film') }}" class="btn-large submit-btn hoverable cta-btn">Add Film</a>
            </div>
        </div>
    </div>

    
{% endblock %}