{% extends "base.html" %}
<!-- Page title -->
{% block title %}
    <span>Film Review</span>
{% endblock %}
{% block content %}
    <!-- Search bar -->
    <div class="row">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <input type="text" name="search" id="search" minlength="2" placeholder="Search Films" class="validate" required>
                    <button type="submit" class="prefix search-btn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Top cta buttons -->
        <div class="valign-wrapper col s12">
            <div class="center-align col s12">
                <a href="{{url_for('register')}}" class="waves-effect waves-light btn cta-btn hoverable">Regsiter</a>
                <a href="#" class="waves-effect waves-light btn cta-btn hoverable">Log in</a>
            </div>
        </div>
        
        <!-- Top Films -->
            <div class="top-films row">
                {% for film in films %}
                    <div class="col s12 m6 l4">
                        <div class="card medium">
                            <a href="/films/{{ film.film_title }}">
                                <div class="card-image">
                                    <img src="{{ film.film_img }}" alt="Film Image" class="film-img">
                                </div>
                                <div class="card-content center-align">
                                    <h5 class="film-title">{{ film.film_title.title() }}</h5>
                                    <p class="film-genre">Genre: {{ film.genre.capitalize() }}</p>
                                    <p class="film-date">Release date: {{ film.release_date }}</p>
                                </div>
                            </a>
                            <div class="card-action center-align">
                                <a href="/review/{{ film.film_title }}">Add review</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <!-- Cta Buttons -->
        <div class="valign-wrapper col s12">
            <div class="center-align col s12">
                <a href="#" class="waves-effect waves-light btn cta-btn hoverable">All Films</a>
                <a href="#" class="waves-effect waves-light btn cta-btn hoverable">Add Film</a>
                <a href="#" class="waves-effect waves-light btn cta-btn hoverable">Add Review</a>
            </div>
        </div>
    </div>

    
{% endblock %}