{% extends "base.html" %}
<!-- Page Title -->
{% block title %}
    <span>{{ movie.film_title.title() }}</span>
{% endblock %}
{% block content %}
    <div class="row valign-wrapper">
        <!-- Film Cover Image  -->
        <div class="film-cover-div">
            <img src="{{ movie.film_img }}" alt="Cover image for {{ movie.film_title.capitalize() }}" class="film-img-lrg">
        </div>
        <!-- Movie Card -->
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content center-align">
                        <p class="film-info"><span class="info-tag">Release Date:</span><br> {{ movie.release_date }}</p>
                        <p class="film-info"><span class="info-tag">Description:</span><br> {{ movie.desc.capitalize() }}</p>
                        <p class="film-info"><span class="info-tag">Genre:</span><br> {{ movie.genre.capitalize() }}</p>
                    </div>
                    {% if session %}
                        {% if session.user.lower() == movie.created_by.lower() %}
                            <div class="row">
                                <a href="/edit_film/{{ movie._id }}" class="btn-large col s6 offset-s3">Edit Film</a>
                            </div>
                            <a href="/delete_film/{{ movie._id }}" class="delete-btn">Delete Film</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content center-align">
                        <h3 class="review-title">Listen To The People!</h3>
                        <div class="row">
                            {% for review in reviews %}
                                <div class="col s12 m6 review-block">
                                    <p class="review-main">{{ review.review.capitalize() }}</p>
                                    <p class="review-user">- {{ review.created_by.capitalize() }}</p>
                                </div>
                            {% else %}
                                <div class="col s12">
                                    <h3>No Reviews yet, Click Add Review To Be The First</h3>
                                    <a href="/review/{{ movie._id }}" class="btn-large submit-btn center-align hoverable">
                                    Add Review
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}