{% extends "base.html" %}
<!-- Page Title -->
{% block title %}
    <span>{{ movie.film_title.title() }}</span>
{% endblock %}
{% block content %}
    <div class="row valign-wrapper">
        <!-- Film Cover Image  -->
        <div class="film-cover-div">
            <img src="{{ movie.film_img }}" alt="Cover image for {{ movie.film_title.capitalize() }}" class="film-img-lrg">
        </div>
        <!-- Movie Card -->
        <div class="col s12">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="center-align">
                        <h3 class="movie-card-title">Film Info</h3>
                    </div>
                    <div class="card-content center-align film-info-block">
                        <div class="film-desc">
                            <h5 class="info-tag">Description:</h5> 
                            <p class="film-info">{{ movie.desc.capitalize() }}</p>
                        </div>
                        <div class="film-date">
                            <h5 class="info-tag">Release Date:</h5>
                            <p class="film-info">{{ movie.release_date }}</p>
                        </div>
                        <div class="film-genre">
                            <h5 class="info-tag">Genre:</h5>
                            <p class="film-info">{{ movie.genre.capitalize() }}</p>
                        </div>
                    </div>
                    {% if session %}
                        {% if session.user.lower() == movie.created_by.lower() %}
                            <div class="row">
                                <a href="/edit_film/{{ movie._id }}" class="btn-large col s12 m4 offset-m4 submit-btn hoverable">Edit Film</a>
                            </div>
                            <a href="/delete_film/{{ movie._id }}" class="delete-btn"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card horizontal review-card">
                <div class="card-stacked">
                    <div class="card-content center-align">
                        <h3 class="movie-card-title">Listen To The People!</h3>
                        <div class="row">
                            {% for review in reviews %}
                                <div class="col s12 m6 review-block">
                                    <p class="review-main">{{ review.review.capitalize() }}</p>
                                    <p class="review-user">- {{ review.created_by.capitalize() }}</p>
                                    {% if session.user == review.created_by %}
                                    <a href="/edit_review/{{ review._id }}"><i class="fas fa-edit"></i></a>
                                    <a href="/delete_review/{{ review._id }}" class="delete-btn"><i class="fas fa-trash-alt"></i></a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="col s12">
                                    <h3 class="review-alert">No Reviews yet, Click Add Review To Be The First</h3>
                                </div>
                            {% endfor %}
                            <div class="row col s12">
                                <a href="/review/{{ movie._id }}" class="btn-large submit-btn center-align hoverable">Add Review</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}