{% extends "base.html" %}
<!-- Page Title -->
{% block title %}
    <span>{{ user.username.capitalize() }}'s Profile</span>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <form action="#" method="POST" class="col s12">
                <div class="card-panel">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" id="username" name="username" value="{{ user.username.capitalize() }}" required>
                            <label for="username">Username <span class="req-star">*</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="email" id="email" name="email" value="{{ user.email }}" required>
                            <label for="email">Email address <span class="req-star">*</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" id="password" name="password" value="{{ password }}" required>
                            <label for="password">Password <span class="req-star">*</span></label>
                        </div>
                    </div>
                    <div class="row">
                            <button type="submit" class="btn-large hoverable submit-btn col s12">Update profile <i class="fas fa-user-edit"></i></button>
                    </div>
                    <a href="/delete_acc/{{ user._id }}" class="delete-btn">Delete Account </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}